html {
  font-size: 14px;
}


@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-navy {
    background-color: #6595FD; /* Azul marinho escuro */
}

footer{
    text-align: center;
}

.container{
    align-items: center;
}

py-5{
    padding-bottom: 20px;
}